<div class="container">
    <div class="row">
      <div class="col">
        <div >
  
         {{indice +1}}: {{empleadoLista.nombre}}  {{empleadoLista.apellido}}  {{empleadoLista.cargo}}
           {{empleadoLista.salario}}  
  
        </div>
        
        <ul style="list-style: none;">
          <li *ngFor="let caracteristicas of arrayCaracteristicas">
            {{caracteristicas}}
          </li>
        </ul>
        <app-caracteristicas-empleado (CaracteristicasEmpleado)="AgregarCaracteristica($event)"></app-caracteristicas-empleado>

      </div>
    </div>
  </div>
